# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Misc
.DS_Store
.env
*.log
*.orig
